<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService11" />
                <binding name="BasicHttpBinding_IService12" />
                <binding name="BasicHttpBinding_IService13" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService11">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService12">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService13">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="CourseReference.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="CourseReference.IService1"
                name="NetTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="JAYANTHS-PC\jayanth kumar" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService11" />
            <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService11" contract="ServiceReference1.IService1"
                name="NetTcpBinding_IService11">
                <identity>
                    <userPrincipalName value="JAYANTHS-PC\jayanth kumar" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService12" contract="CourseReference.IService1"
                name="BasicHttpBinding_IService12" />
            <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService12" contract="CourseReference.IService1"
                name="NetTcpBinding_IService12">
                <identity>
                    <userPrincipalName value="JAYANTHS-PC\jayanth kumar" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService13" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService13" />
            <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService13" contract="ServiceReference1.IService1"
                name="NetTcpBinding_IService13">
                <identity>
                    <userPrincipalName value="JAYANTHS-PC\jayanth kumar" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>